.enlace1 {
    color: blue;
}

.enlace2 {
    color: red;
}

.enlaceA {}

.enlaceA a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #80b9fc;
    margin-right: 5%;
    float: right;
}

.img1 img {
    width: 100px;
    height: 100px;
}